{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/ad.css') }}">
{% endblock %}

{% block body %}
    <div class="row my-5 py-3 justify-content-center">
        <div class="col-8 py-3">
            <h1 class="text-center">Mon pokédex</h1>
            <hr class="col-6">
        </div>
    </div>
    <div class="row">
        {{ include('pokemon/pokemons.html.twig') }}
    </div>
{% endblock %}