@import url('https://fonts.googleapis.com/css?family=Chela+One');

body {
  font-family: fantasy, sans-serif;
}

h1, h2, h3 {
  font-family: 'Chela One', cursive;
}

.btn {
  font-family: fantasy, serif;
}

hr {
  border-top: blue 2px solid;
}

.custom-file-label::after {
  content: "Parcourir";
}