{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-2">
        Bienvenue sur LeCoinDesDresseurs ! <img class="pokeball" src="{{ asset('images/pokeball.png') }}" alt="">
    </h1>
    <h2 class="text-center">Ici vous pouvez échanger, vendre et acheter des pokémons !</h2>
    <h3 class="text-center">Et pleins d'autres choses encore !!</h3>
    <img src="{{ asset('images/pokemon.jpg') }}" alt="">
{% endblock %}