{% extends 'base.html.twig' %}

{% block title %}Edit Ad{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/upload.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-5 py-3 justify-content-center">
        <div class="col-8 shadow py-3">
            <h1 class="text-center">Modifier l'annonce</h1>
            <hr class="col-6">
            <div class="text-center col">
                {{ include('ad/_form.html.twig', {'button_label': 'Mettre à jour' }) }}
            </div>
            <div class="col mt-3">
                <a class="btn btn-dark" href="{{ path('ad_show', {'id': ad.id}) }}">
                    <i class="fas fa-chevron-left"></i> Retourner à l'annonce
                </a>
                <div class="float-right">
                {{ include('ad/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}