{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="row my-5 py-3 justify-content-center">
        <div class="col-8 shadow py-3">
            <h1 class="text-center col-12">Modifier mes infos</h1>
            <hr class="col-6">
            <div class="text-center col">
                {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}